section {
    text-align: center;
  }

div {
    text-align: center;
  }
p {
    text-align: center;
  }
h6 {
    text-align: left;
  }
h3 {
    text-align: center;
  }

button {
    text-align: center;
  }

body {
  background-color: #d8d0d5;
  background-image: linear-gradient(teal,white, gray);;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh
  }

